@model List<AC.Service.DTO.Tools.MyTaskDTO>

@foreach (var task in Model)
{
    <li class="@(string.IsNullOrEmpty(task.Class) ? "danger-element" : task.Class)">
        <input type="hidden" value="@task.Id" />
        <h3>@task.Title</h3>
        @task.Content
        <div class="agile-detail">
            <a href="#" class="pull-right btn btn-xs btn-white">Hide</a>
            <i class="fa fa-clock-o"></i> @task.PubTime
        </div>
    </li>
}
