@using AC.Service.DTO.LiCai
@model wychuan2.com.Areas.admin.Models.LiCai.BillModel
@{
    ViewBag.Title = "算法大全";
    Layout = "../Shared/_Layout.cshtml";
}

@{
    List<ItemDTO> lstBooks = Model.Items.Where(m => m.Type == ItemType.BillBook).ToList();
    List<ItemDTO> lstProjects = Model.Items.Where(m => m.Type == ItemType.Project).ToList();
    List<ItemDTO> lstMembers = Model.Items.Where(m => m.Type == ItemType.Member).ToList();
    List<ItemDTO> lstBusiness = Model.Items.Where(m => m.Type == ItemType.Business).ToList();
}

@section styles{
    <link href="~/Content/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="~/Content/plugins/datetimepicker/jquery.datetimepicker.css" rel="stylesheet" />
    <link href="~/Content/plugins/datapicker/datepicker3.css" rel="stylesheet" />
}
<div class="row">
    <div class="col-lg-12">
        <div class="ibox">
            <div class="ibox-title">
                <h4>查询条件</h4>
            </div>
            <div class="ibox-content">
                <form class="form-inline">
                    <div class="form-group">
                        <div class="input-daterange input-group" id="datepicker">
                            <input type="text" class="input-sm form-control" name="start" value="@DateTime.Now.AddDays(-7).ToString("yyyy-MM-dd")" />
                            <span class="input-group-addon">to</span>
                            <input type="text" class="input-sm form-control" name="end" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-primary btn-sm "><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                        <br />
                        <div class="input-group">
                            @{
                                var lstFirsts = Model.Categories.Where(c => c.InOutType == CategoryType.Expend && c.ParentId == 0).OrderByDescending(c => c.IsCommonUse);
                                var lstSeconds = Model.Categories.Where(c => c.ParentId == lstFirsts.FirstOrDefault().Id).OrderByDescending(c => c.IsCommonUse);
                            }
                            <select class="input-sm form-control">
                                @foreach (var first in lstFirsts)
                                {
                                    <option value="@first.Id">@first.Name</option>
                                }
                            </select>
                            <span class="input-group-addon">-</span>
                            <select class="input-sm form-control" name="selCategory">
                                @foreach (var first in lstSeconds)
                                {
                                    <option value="@first.Id">@first.Name</option>
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="sr-only"></label>
                            <select class="form-control">
                                <option value="">选择账户</option>
                                @foreach (var account in Model.Accounts)
                                {
                                    <option value="@account.Id">@account.Name</option>
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="sr-only"></label>
                            <select class="form-control">
                                <option value="">选择项目</option>
                                @foreach (var project in lstProjects)
                                {
                                    <option value="@project.Id">@project.Name</option>
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="sr-only"></label>
                            <select class="form-control">
                                <option value="">选择成员</option>
                                @foreach (var member in lstMembers)
                                {
                                    <option value="@member.Id">@member.Name</option>
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="sr-only"></label>
                            <select class="form-control">
                                <option>选择商家</option>
                                @foreach (var business in lstBusiness)
                                {
                                    <option value="@business.Id">@business.Name</option>
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="sr-only"></label>
                            <select class="form-control">
                                <option>是否报销</option>
                                <option value="0">非报销</option>
                                <option value="1">可报销</option>
                                <option value="2">已报销</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="ibox">
            <div class="ibox-title">
                <h4>result</h4>
            </div>
            <div class="ibox-content">
                <table class="table table-bordered table-condensed table-striped">
                    <tr>
                        <th>时间</th>
                        <th>金额</th>
                        <th>类别</th>
                        <th>商家</th>
                        <th>备注</th>
                    </tr>
                    <tr>
                        <td>@DateTime.Now</td>
                        <td>12.00</td>
                        <td>test</td>
                        <td>商家</td>
                        <td>备注</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/plugins/iCheck/icheck.min.js"></script>
    <script src="~/Scripts/plugins/validate/jquery.validate.min.js"></script>
    <script src="~/Scripts/plugins/validate/messages_zh.js"></script>
    <script src="~/Scripts/plugins/datetimepicker/jquery.datetimepicker.js"></script>
    <script src="~/Scripts/plugins/datapicker/bootstrap-datepicker.js"></script>
    <script>
        $(function() {
            $(".datetimepicker").datetimepicker({
                lang: "ch",
                mask: true
            });

            $('.input-daterange').datepicker({
                format: "yyyy-mm-dd",
                language: "zh-CN"
            });
        })

    </script>
}
