<!DOCTYPE html>
<html lang="zh">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <meta name="description" content="" />
        <meta name="author" content="wychuan" />

        <title>@ViewBag.Title - 码农阿川</title>
        <!-- Bootstrap core CSS -->
        <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
        <link href="~/content/site.css" rel="stylesheet" />

        @RenderSection("styles", required: false)
    </head>
    <body>
        <nav class="navbar navbar-default navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">码农阿川</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/">首页</a></li>
                        <li><a href="/">生活</a></li>
                        <li><a href="/">IT</a></li>
                        <li><a href="/">关于</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/">登录</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        
        <div class="container">
            <div class="row">
                @RenderBody()
            </div>
        </div>
        
        <footer class="bs-docs-footer" role="contentinfo">
            <div class="container">
                <p>
                    Designed and built with all the love in the world by 
                    <a href="https://twitter.com/mdo" target="_blank">mdo</a> and 
                    <a href="https://twitter.com/fat" target="_blank">fat</a>.
                </p>
                <p>
                    Maintained by the <a href="https://github.com/orgs/twbs/people">core team</a> 
                    with the help of <a href="https://github.com/twbs/bootstrap/graphs/contributors">our contributors</a>.
                </p>
                <p>
                    本项目源码受 <a rel="license" href="https://github.com/twbs/bootstrap/blob/master/LICENSE" target="_blank">MIT</a>
                    开源协议保护，文档受 <a rel="license" href="https://creativecommons.org/licenses/by/3.0/" target="_blank">
                                   CC BY 3.0
                               </a> 开源协议保护。
                </p>
            </div>
        </footer>
        
        @RenderSection("modal", required:false )
        <script src="~/scripts/jquery-1.11.2.min.js"></script>
        <script src="~/scripts/bootstrap.min.js"></script>
        @RenderSection("scripts", required: false)
    </body>
</html>
