<p><i class="fa fa-home"></i> Home:<a href="http://maven.apache.org/" target="_blank">http://maven.apache.org/</a></p>
<p><i class="fa fa-download"></i> Download:<a href="http://maven.apache.org/download.cgi" target="_blank">http://maven.apache.org/download.cgi</a></p>
<p><i class="fa fa-instagram"></i> Install:<a href="http://maven.apache.org/download.cgi#Installation" target="_blank">http://maven.apache.org/download.cgi#Installation</a></p>

<h2 id="mavenstart-basic">1 基本概念</h2>
@Html.Partial("~/Views/java/mavenstart/_mavenstart-basic.cshtml")
<h2 id="mavenstart-download">2 Maven下载</h2>
@Html.Partial("~/Views/java/mavenstart/_mavenstart-download.cshtml")

<h2 id="mavenstart-install">安装</h2>
@Html.Partial("~/Views/java/mavenstart/_mavenstart-install.cshtml")

<h2 id="mavenstart-setting">环境变量</h2>
@Html.Partial("~/Views/java/mavenstart/_mavenstart-setting.cshtml")

<h2 id="mavenstart-project">项目目录约定</h2>
@Html.Partial("~/Views/java/mavenstart/_mavenstart-project.cshtml")
