@model wychuan2.com.Models.LiCaiAccount
@{
    ViewBag.Title = "管理后台";
    Layout = "../Shared/_Layout.cshtml";
}

@section styles{
    <link href="~/Content/plugins/iCheck/custom.css" rel="stylesheet">
}
<div class="row">
    @Html.Partial("_AccountType",Model)
    
    <div class="col-lg-10 animated fadeInRight">
        <div class="mail-box-header">

            <h2>
                @Model.CurrentType.Name (@Model.CurrentType.Count)
            </h2>
            <div class="mail-tools tooltip-demo m-t-md">
                <div class="btn-group pull-right">
                    <button class="btn btn-white btn-sm"><i class="fa fa-arrow-left"></i></button>
                    <button class="btn btn-white btn-sm"><i class="fa fa-arrow-right"></i></button>

                </div>
                <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="left" title="Refresh inbox"><i class="fa fa-refresh"></i> Refresh</button>
                <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Mark as read"><i class="fa fa-eye"></i> </button>
                <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Mark as important"><i class="fa fa-exclamation"></i> </button>
                <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Move to trash"><i class="fa fa-trash-o"></i> </button>

            </div>
        </div>
        <div class="mail-box">

            @Html.Partial("_AccountList",Model)

        </div>
    </div>
</div>

<!--账户对话框-->
<div class="modal fade" id="accountModal" tabindex="-1" role="dialog" aria-labelledby="accountModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="accountModalLabel">创建账户</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="frmAccount">
                    <input type="hidden" value="0" id="Id" />
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="Type">类型</label>
                        <div class="col-sm-4">
                            <select class="form-control" id="Type">
                                @foreach (var accountType in Model.AccountTypes)
                                {
                                    if (accountType.Id > 0)
                                    {
                                        <option value="@accountType.Id">@accountType.Name</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="col-sm-6"></div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="Name">名称</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="Name" name="Name" placeholder="账户名称" required />
                        </div>
                        <div class="col-sm-6"></div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">余额</label>
                        <div class="col-sm-3">
                            <select class="form-control" id="Currency">
                                <option value="1">人民币</option>
                            </select>
                        </div>
                        <div class="input-group col-sm-3">
                            <span class="input-group-addon">￥</span>
                            <input id="Balance" name="Balance" type="text" class="form-control" value="0.00" required />
                        </div>
                        <div class="col-sm-4"></div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <div class="checkbox">
                                <label>
                                    <input id="InNetAssets" type="checkbox" class="form-control i-checks"> 记入净资产
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">备注</label>
                        <div class="col-sm-6">
                            <textarea class="form-control" rows="3" id="Remark" placeholder="请填写备注信息"></textarea>
                        </div>
                        <div class="col-sm-4"></div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" id="btnSave" class="btn btn-primary">保存</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/plugins/iCheck/icheck.min.js"></script>
    <script src="~/Scripts/plugins/validate/jquery.validate.min.js"></script>
    <script src="~/Scripts/plugins/validate/messages_zh.js"></script>
    <script>
        $(document).ready(function() {
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });

            $('#accountModal').on('show.bs.modal', function(event) {
                var button = $(event.relatedTarget); // Button that triggered the modal
                var modal = $(this);
                var recipient = button.data('whatever');
                modal.find('.modal-title').text(recipient);

                var operateType = button.data("type");

                if (operateType == 1) { //新增
                    modal.find("#Id").val(0);
                    modal.find("#Type").val(modal.find("#Type option:first").val());
                    modal.find("#Name").val("");
                    modal.find("#Balance").val("0.00");
                    modal.find("#InNetAssets").iCheck("uncheck");
                    modal.find("#Remark").val("");
                } else if (operateType == 2) { //编辑
                    var $tr = button.parents("tr");
                    modal.find("#Id").val($tr.find("[name=Id]").val());
                    modal.find("#Type").val($tr.find("[name=Type]").val());
                    modal.find("#Name").val($tr.find("[name=Name]").text());
                    modal.find("#Balance").val($tr.find("[name=Balance] a").text());
                    var inNetAssets = $tr.find("[name=InNetAssets]").val();
                    if (inNetAssets) {
                        modal.find("#InNetAssets").iCheck("check");
                    } else {
                        modal.find("#InNetAssets").iCheck("uncheck");
                    }
                    modal.find("#Remark").val($tr.find("[name=Remark]").text());
                }
            });

            $("#frmAccount").validate({
                rules: {
                    Name: {
                        required: true
                    },
                    Balance: {
                        required: true,
                        number: true
                    }
                },
                messages: {
                    Name: "请输入账户名称",
                    Balance: "余额必须为数字"
                },
                submitHandler: function(form) {
                    save();
                }
            });


            $("#btnSave").bind("click", function() {
                $("#frmAccount").trigger("submit");
            });

            $("#tblAccountsList").delegate(".J_Remove", "click", function() {
                remove($(this).parents("tr").find("[name=Id]").val());
            });
        });

        function save() {
            var account = {
                Id: $("#Id").val(),
                Type: $("#Type").val(),
                Name: $("#Name").val(),
                Balance: $("#Balance").val(),
                Remark: $("#Remark").val(),
                InNetAssets: $("#InNetAssets").is(":checked"),
                Currency: $("#Currency option:selected").text()
            };

            $.ajax({
                url: "/licai/account/save",
                type: "post",
                dataType: "json",
                data: account,
                success: function(resp) {
                    console && console.log(resp);
                    if (!resp.iserror) {
                        $("#accountModal").modal("hide");
                    }
                }
            });
        }

        function remove(id) {
            $.ajax({
                url: "/licai/account/delete",
                type: "post",
                data: { id: id },
                dataType: "json",
                success: function(resp) {
                    if (!resp.iserror) {
                        alert("删除成功.");
                    }
                }
            });
        }
    </script>
}