@using wychuan2.com.Extensions
@using wychuan2.com.Models
<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <span>
                        <img alt="image" class="img-circle" src="~/img/profile_small.jpg" />
                    </span>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear">
                            <span class="block m-t-xs">
                                <strong class="font-bold">@ApplicationUser.Current.UserName</strong>
                            </span> <span class="text-muted text-xs block">码农世界 <b class="caret"></b></span>
                        </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a href="profile.html">个人信息</a></li>
                        <li><a href="contacts.html">联系方式</a></li>
                        <li><a href="mailbox.html">消息</a></li>
                        <li class="divider"></li>
                        <li><a href="/admin/account/logoff">注销</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    IN+
                </div>
            </li>
            <li class="@("tools".Equals(Html.Controller(),StringComparison.InvariantCultureIgnoreCase)?"active":string.Empty)">
                <a href=""><i class="fa fa-twitter"></i> <span class="nav-label">日常工具</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li class="@("jobs".Equals(Html.Action(),StringComparison.InvariantCultureIgnoreCase)?"active":string.Empty)"><a href="/admin/tools/jobs">任务管理</a></li>
                    <li class="@("pinboard".Equals(Html.Action(), StringComparison.InvariantCultureIgnoreCase) ? "active" : string.Empty) "><a href="/admin/tools/pinboard">记事本</a></li>
                    <li class="@(Html.Action().ToLower().StartsWith("company") ? "active" : string.Empty) "><a href="/admin/tools/company">牛逼公司</a></li>
                </ul>
            </li>
            <li class="@(Request.RawUrl.ToLower().Contains("licai") ? "active" : string.Empty)">
                <a href=""><i class="fa fa-money"></i> <span class="nav-label">财务概况</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    @RenderMenuItem("bill", "index", "记账")
                    @RenderMenuItem("details", "index", "明细")
                    @RenderMenuItem("account", "index", "账户")
                    @RenderMenuItem("yusuan", "index", "预算")
                    @RenderMenuItem("tongji", "index", "统计")
                    @RenderMenuItem("setting", "index", "设置")
                </ul>
            </li>
            <li class="@(!Request.RawUrl.ToLower().Contains("licai") && "account".Equals(Html.Controller(), StringComparison.InvariantCultureIgnoreCase) ? "active" : string.Empty)">
                <a href=""><i class="fa fa-sitemap"></i> <span class="nav-label">个人中心</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li><a href="">修改密码</a></li>
                    <li><a href="">联系方式</a></li>
                    <li><a href="">个人信息</a></li>
                    <li><a href="">其它吧</a></li>
                </ul>
            </li>
            <li class="">
                <a href=""><i class="fa fa-sitemap"></i> <span class="nav-label">微信后台</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li><a href="">菜单管理</a></li>
                    <li><a href="">菜单管理</a></li>
                    <li><a href="">菜单管理</a></li>
                    <li><a href="">菜单管理</a></li>
                </ul>
            </li>
            <li class="">
                <a href=""><i class="fa fa-sitemap"></i> <span class="nav-label">文章管理</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li><a href="">发布文章</a></li>
                    <li><a href="">文章类型</a></li>
                    <li><a href="">标签管理</a></li>
                    <li><a href="">文章列表</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>

@helper RenderMenuItem(string controllerName, string actionName, string text)
{
    bool isActive = @Html.Controller().Equals(controllerName, StringComparison.InvariantCultureIgnoreCase) &&
                    @Html.Action().Equals(actionName, StringComparison.InvariantCultureIgnoreCase);
    <li class="@(isActive ? "active" : string.Empty)">@Html.ActionLink(text, actionName, controllerName)</li>
}
