@using AC.Service.DTO.LiCai
@model wychuan2.com.Areas.admin.Models.LiCai.BillModel
@{
    ViewBag.Title = "管理后台";
    Layout = "../Shared/_Layout.cshtml";
}

@{
    List<ItemDTO> lstBooks = Model.Items.Where(m => m.Type == ItemType.BillBook).ToList();
    List<ItemDTO> lstProjects = Model.Items.Where(m => m.Type == ItemType.Project).ToList();
    List<ItemDTO> lstMembers = Model.Items.Where(m => m.Type == ItemType.Member).ToList();
    List<ItemDTO> lstBusiness = Model.Items.Where(m => m.Type == ItemType.Business).ToList();
}

@section styles{
    <link href="~/Content/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="~/Content/plugins/datetimepicker/jquery.datetimepicker.css" rel="stylesheet" />
    <link href="~/Content/plugins/datapicker/datepicker3.css" rel="stylesheet" />
}
<div class="row">
    <div class="col-lg-12">
        <div class="ibox">
            <div class="ibox-content">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="active" role="presentation"><a href="#tabAll" data-toggle="tab">全部</a></li>
                    <li role="presentation"><a href="#tab1" role="tab" data-toggle="tab">支出</a></li>
                    <li role="presentation"><a href="#tab2" role="tab" data-toggle="tab">收入</a></li>
                    <li role="presentation"><a href="#tab3" role="tab" data-toggle="tab">转账</a></li>
                    <li role="presentation"><a href="#tab4" role="tab" data-toggle="tab">借贷</a></li>
                </ul>

                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="tabAll">
                        <div class="well well-sm">
                            <form class="form-inline">
                                <div class="form-group">
                                    <div class="input-daterange input-group" id="datepicker">
                                        <input type="text" class="input-sm form-control" name="start" value="@DateTime.Now.AddDays(-7).ToString("yyyy-MM-dd")" />
                                        <span class="input-group-addon">to</span>
                                        <input type="text" class="input-sm form-control" name="end" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-primary btn-sm "><i class="fa fa-search"></i></button>
                                        </span>
                                    </div>
                                    <div class="form-group">
                                        <label class="sr-only"></label>
                                        <select class="form-control">
                                            <option value="">选择账户</option>
                                            @foreach (var account in Model.Accounts)
                                            {
                                                <option value="@account.Id">@account.Name</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label class="sr-only"></label>
                                        <select class="form-control">
                                            <option value="">选择项目</option>
                                            @foreach (var project in lstProjects)
                                            {
                                                <option value="@project.Id">@project.Name</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label class="sr-only"></label>
                                        <select class="form-control">
                                            <option value="">选择成员</option>
                                            @foreach (var member in lstMembers)
                                            {
                                                <option value="@member.Id">@member.Name</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="tab1">
                        @*<div class="well well-sm">
                            <form class="form-inline">
                                <div class="form-group">
                                    <div class="input-daterange input-group" id="datepicker">
                                        <input type="text" class="input-sm form-control" name="start" value="@DateTime.Now.AddDays(-7).ToString("yyyy-MM-dd")" />
                                        <span class="input-group-addon">to</span>
                                        <input type="text" class="input-sm form-control" name="end" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-primary btn-sm "><i class="fa fa-search"></i></button>
                                        </span>
                                    </div>
                                    <br />
                                    <div class="input-group">
                                        @{
                                            var lstFirsts = Model.Categories.Where(c => c.InOutType == CategoryType.Expend && c.ParentId == 0).OrderByDescending(c => c.IsCommonUse);
                                            var lstSeconds = Model.Categories.Where(c => c.ParentId == lstFirsts.FirstOrDefault().Id).OrderByDescending(c => c.IsCommonUse);
                                        }
                                        <select class="input-sm form-control">
                                            @foreach (var first in lstFirsts)
                                            {
                                                <option value="@first.Id">@first.Name</option>
                                            }
                                        </select>
                                        <span class="input-group-addon">-</span>
                                        <select class="input-sm form-control" name="selCategory">
                                            @foreach (var first in lstSeconds)
                                            {
                                                <option value="@first.Id">@first.Name</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label class="sr-only"></label>
                                        <select class="form-control">
                                            <option value="">选择账户</option>
                                            @foreach (var account in Model.Accounts)
                                            {
                                                <option value="@account.Id">@account.Name</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label class="sr-only"></label>
                                        <select class="form-control">
                                            <option value="">选择项目</option>
                                            @foreach (var project in lstProjects)
                                            {
                                                <option value="@project.Id">@project.Name</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label class="sr-only"></label>
                                        <select class="form-control">
                                            <option value="">选择成员</option>
                                            @foreach (var member in lstMembers)
                                            {
                                                <option value="@member.Id">@member.Name</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label class="sr-only"></label>
                                        <select class="form-control">
                                            <option>选择商家</option>
                                            @foreach (var business in lstBusiness)
                                            {
                                                <option value="@business.Id">@business.Name</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label class="sr-only"></label>
                                        <select class="form-control">
                                            <option>是否报销</option>
                                            <option value="0">非报销</option>
                                            <option value="1">可报销</option>
                                            <option value="2">已报销</option>
                                        </select>
                                    </div>
                                </div>
                            </form>
                        </div>*@
                        <div class="ibox">
                            <div class="ibox-title">
                                <h4>查询条件</h4>
                            </div>
                            <div class="ibox-content">
                                <form class="form-inline">
                                    <div class="form-group">
                                        <div class="input-daterange input-group" id="datepicker">
                                            <input type="text" class="input-sm form-control" name="start" value="@DateTime.Now.AddDays(-7).ToString("yyyy-MM-dd")" />
                                            <span class="input-group-addon">to</span>
                                            <input type="text" class="input-sm form-control" name="end" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-primary btn-sm "><i class="fa fa-search"></i></button>
                                            </span>
                                        </div>
                                        <br />
                                        <div class="input-group">
                                            @{
                                                var lstFirsts = Model.Categories.Where(c => c.InOutType == CategoryType.Expend && c.ParentId == 0).OrderByDescending(c => c.IsCommonUse);
                                                var lstSeconds = Model.Categories.Where(c => c.ParentId == lstFirsts.FirstOrDefault().Id).OrderByDescending(c => c.IsCommonUse);
                                            }
                                            <select class="input-sm form-control">
                                                @foreach (var first in lstFirsts)
                                                {
                                                    <option value="@first.Id">@first.Name</option>
                                                }
                                            </select>
                                            <span class="input-group-addon">-</span>
                                            <select class="input-sm form-control" name="selCategory">
                                                @foreach (var first in lstSeconds)
                                                {
                                                    <option value="@first.Id">@first.Name</option>
                                                }
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label class="sr-only"></label>
                                            <select class="form-control">
                                                <option value="">选择账户</option>
                                                @foreach (var account in Model.Accounts)
                                                {
                                                    <option value="@account.Id">@account.Name</option>
                                                }
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label class="sr-only"></label>
                                            <select class="form-control">
                                                <option value="">选择项目</option>
                                                @foreach (var project in lstProjects)
                                                {
                                                    <option value="@project.Id">@project.Name</option>
                                                }
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label class="sr-only"></label>
                                            <select class="form-control">
                                                <option value="">选择成员</option>
                                                @foreach (var member in lstMembers)
                                                {
                                                    <option value="@member.Id">@member.Name</option>
                                                }
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label class="sr-only"></label>
                                            <select class="form-control">
                                                <option>选择商家</option>
                                                @foreach (var business in lstBusiness)
                                                {
                                                    <option value="@business.Id">@business.Name</option>
                                                }
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label class="sr-only"></label>
                                            <select class="form-control">
                                                <option>是否报销</option>
                                                <option value="0">非报销</option>
                                                <option value="1">可报销</option>
                                                <option value="2">已报销</option>
                                            </select>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="ibox">
                            <div class="ibox-title">
                                <h4>result</h4>
                            </div>
                            <div class="ibox-content">
                                <table class="table table-bordered table-condensed table-striped">
                                    <tr>
                                        <th>时间</th>
                                        <th>金额</th>
                                        <th>类别</th>
                                        <th>商家</th>
                                        <th>备注</th>
                                    </tr>
                                    <tr>
                                        <td>@DateTime.Now</td>
                                        <td>12.00</td>
                                        <td>test</td>
                                        <td>商家</td>
                                        <td>备注</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        
                    </div>
                    <div role="tabpanel" class="tab-pane" id="tab2">
                        <div class="panel">
                            <div class="panel-body">
                                <form class="form-horizontal" role="form" id="form1" novalidate="novalidate">
                                    <div class="form-group">
                                        <label class="col-sm-1 control-label">账本</label>
                                        <div class="col-sm-3">
                                            <select class="form-control">
                                                <option>option11</option>
                                                <option>option11</option>
                                                <option>option11</option>
                                                <option>option11</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-1 control-label">金额</label>
                                        <div class="col-sm-3">
                                            <div class="input-group">
                                                <span class="input-group-addon">￥</span>
                                                <input type="text" value="0.0" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-1 control-label">类别</label>
                                        <div class="col-sm-3">
                                            <select class="form-control">
                                                <option>option1111</option>
                                                <option>option1111</option>
                                                <option>option1111</option>
                                                <option>option1111</option>
                                            </select>
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="form-group">
                                        <label class="col-sm-1 control-label">付款方</label>
                                        <div class="col-sm-3">
                                            <select class="form-control">
                                                <option>1111</option>
                                                <option>1111</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-1 control-label">账户</label>
                                        <div class="col-sm-3">
                                            <select class="form-control">
                                                <option>sdfsdfds</option>
                                                <option>sdfsdfds</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-1 control-label">时间</label>
                                        <div class="col-sm-3">
                                            <input type="text" class="form-control datetimepicker" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-1 control-label">项目</label>
                                        <div class="col-sm-3">
                                            <select class="form-control">
                                                <option>sdfsdfds</option>
                                                <option>sdfsdfds</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-1 control-label">成员</label>
                                        <div class="col-sm-3">
                                            <select class="form-control">
                                                <option>sdfsdfds</option>
                                                <option>sdfsdfds</option>
                                            </select>
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="form-group">
                                        <label class="col-sm-1 control-label">备注</label>
                                        <div class="col-sm-5">
                                            <textarea cols="10" rows="3" class="form-control"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-4 col-sm-offset-1">
                                            <button class="btn btn-primary" type="submit"><strong>保存</strong></button>
                                            <button class="btn btn-danger" type="submit"><strong>保存后再记</strong></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="tab3">
                        <div class="panel">
                            <div class="panel-body">
                                <form class="form-horizontal" role="form" id="form1" novalidate="novalidate">
                                    <div class="form-group">
                                        <label class="col-sm-1 control-label">账本</label>
                                        <div class="col-sm-3">
                                            <select class="form-control">
                                                <option>option11</option>
                                                <option>option11</option>
                                                <option>option11</option>
                                                <option>option11</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-1 control-label">账户</label>
                                        <div class="col-sm-3">
                                            <select class="form-control">
                                                <option>sdfsdfds</option>
                                                <option>sdfsdfds</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-1">></div>
                                        <div class="col-sm-3">
                                            <select class="form-control">
                                                <option>sdfsdfds</option>
                                                <option>sdfsdfds</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-1 control-label">金额</label>
                                        <div class="col-sm-3">
                                            <div class="input-group">
                                                <span class="input-group-addon">￥</span>
                                                <input type="text" value="0.0" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-1 control-label">时间</label>
                                        <div class="col-sm-3">
                                            <input type="text" class="form-control datetimepicker" />
                                        </div>
                                    </div>

                                    <hr />
                                    <div class="form-group">
                                        <label class="col-sm-1 control-label">备注</label>
                                        <div class="col-sm-5">
                                            <textarea cols="10" rows="3" class="form-control"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-4 col-sm-offset-1">
                                            <button class="btn btn-primary" type="submit"><strong>保存</strong></button>
                                            <button class="btn btn-danger" type="submit"><strong>保存后再记</strong></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="tab4">
                        <div class="panel">
                            <div class="panel-body">
                                <form class="form-horizontal" role="form" id="form4" novalidate="novalidate">
                                    <div class="form-group">
                                        <label class="col-sm-1 control-label">账本</label>
                                        <div class="col-sm-3">
                                            <select class="form-control">
                                                <option>option11</option>
                                                <option>option11</option>
                                                <option>option11</option>
                                                <option>option11</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-1 control-label">类别</label>
                                        <div class="col-sm-3">
                                            <select class="form-control">
                                                <option>借入</option>
                                                <option>借出</option>
                                                <option>收款</option>
                                                <option>还款</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-1 control-label">金额</label>
                                        <div class="col-sm-3">
                                            <div class="input-group">
                                                <span class="input-group-addon">￥</span>
                                                <input type="text" value="0.0" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="form-group">
                                        <label class="col-sm-1 control-label">债权人</label>
                                        <div class="col-sm-3">
                                            <select class="form-control">
                                                <option>1111</option>
                                                <option>1111</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-1 control-label">借入账户</label>
                                        <div class="col-sm-3">
                                            <select class="form-control">
                                                <option>sdfsdfds</option>
                                                <option>sdfsdfds</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-1 control-label">时间</label>
                                        <div class="col-sm-3">
                                            <input type="text" class="form-control datetimepicker" />
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="form-group">
                                        <label class="col-sm-1 control-label">还款日</label>
                                        <div class="col-sm-3">
                                            <select class="form-control">
                                                <option>sdfsdfds</option>
                                                <option>sdfsdfds</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-1 control-label">还款提醒</label>
                                        <div class="col-sm-3">
                                            <select class="form-control">
                                                <option>无需提醒</option>
                                                <option>提醒一次</option>
                                                <option>每月提醒</option>
                                            </select>
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="form-group">
                                        <label class="col-sm-1 control-label">备注</label>
                                        <div class="col-sm-5">
                                            <textarea cols="10" rows="3" class="form-control"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-4 col-sm-offset-1">
                                            <button class="btn btn-primary" type="submit"><strong>保存</strong></button>
                                            <button class="btn btn-danger" type="submit"><strong>保存后再记</strong></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

@section scripts{
    <script src="~/Scripts/plugins/iCheck/icheck.min.js"></script>
    <script src="~/Scripts/plugins/validate/jquery.validate.min.js"></script>
    <script src="~/Scripts/plugins/validate/messages_zh.js"></script>
    <script src="~/Scripts/plugins/datetimepicker/jquery.datetimepicker.js"></script>
    <script src="~/Scripts/plugins/datapicker/bootstrap-datepicker.js"></script>
    <script>
        $(function() {
            $(".datetimepicker").datetimepicker({
                lang: "ch",
                mask: true
            });

            $('.input-daterange').datepicker({
                format: "yyyy-mm-dd",
                language: "zh-CN"
            });
        })

    </script>
}