@model AC.Service.DTO.Blog.BlogsDTO
@{
    Layout = null;
}
<div class="bs-docs-header" id="content" tabindex="-1">
    <div class="container">
        <h1>@Model.Title</h1>
        <p class="content11">@Model.Summary</p>
    </div>
</div>
<div class="container bs-docs-container">
    <div class="row">
        <div class="col-md-9" role="main">
            @if (Model.BlogSections != null)
            {
                foreach (var blogSection in Model.BlogSections)
                {
                    <div class="bs-docs-section">
                        <h1 id="@blogSection.SectionId" class="page-header">@blogSection.Title</h1>
                        @Html.Raw(blogSection.Content)
                        @if (blogSection.Childs != null)
                        {
                            foreach (var child in blogSection.Childs)
                            {
                                <h2 id="@child.SectionId">
                                    @child.Title
                                </h2>
                                @Html.Raw(child.Content)
                            }
                        }
                    </div>
                }
            }
        </div>
        <div class="col-md-3" role="complementary">
            <nav class="bs-docs-sidebar hidden-print hidden-xs hidden-sm affix-top">
                <ul class="nav bs-docs-sidenav">
                    @if (Model.BlogSections != null)
                    {
                        foreach (var blogSection in Model.BlogSections)
                        {
                            <li>
                                <a href="#@blogSection.SectionId">@blogSection.Title</a>
                                @if (blogSection.Childs != null)
                                {
                                    <ul class="nav">
                                        @foreach (var child in blogSection.Childs)
                                        {
                                            <li><a href="#@child.SectionId">@child.Title</a></li>
                                        }
                                    </ul>
                                }
                            </li>
                        }
                    }
                </ul>
                <a class="back-to-top" href="#top">
                    返回顶部
                </a>
                <a href="javascript:;" class="bs-docs-theme-toggle" role="button">
                    主题预览
                </a>
            </nav>
        </div>
    </div>
</div>
