@{
    Layout = "../Shared/_LayoutBootstrap.cshtml";
    ViewBag.Title = "Test";
}

@section styles{
    <link href="~/Content/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
}


<div class="bs-docs-header" id="content" tabindex="-1">
    <div class="container">
        <h1>Demo</h1>
        <p>这里是一个DEMO页，用来测试发布的每篇文章。</p>
    </div>
</div>

<div class="container bs-docs-container">
    <div class="row">
        <div class="col-md-9" role="main">
            <div class="bs-docs-section">
                <h1 id="redis">redis</h1>
                @Html.Partial("~/Views/redis/redis.cshtml")
            </div>
            @*<div class="bs-docs-section">
                <h1 id="shell">shell</h1>
                @Html.Partial("~/Views/shell/shell.cshtml")
            </div>*@
            @*<div class="bs-docs-section">
                <h1 id="users">权限管理</h1>
                @Html.Partial("~/Views/shell/permission/permission.cshtml")
            </div>*@
            @*<div class="bs-docs-section">
                <h1 id="fhs">FHS</h1>
                @Html.Partial("~/Views/shell/fhs/fhs.cshtml")
            </div>*@
            @*<div class="bs-docs-section">
                <h1 id="java">java</h1>
                @Html.Partial("~/Views/java/java.cshtml")
            </div>*@
            @*<div class="bs-docs-section">
                <h1 id="user">用户管理</h1>
                @Html.Partial("~/Views/shell/user/users.cshtml")
            </div>
            <div class="bs-docs-section">
                <h1 id="compress">压缩与打包</h1>
                @Html.Partial("~/Views/shell/compress/compress.cshtml")
            </div>*@
            @*<div class="bs-docs-section">
                <h1 id="users">文档权限用户管理</h1>
                @Html.Partial("~/Views/shell/user/users.cshtml")
            </div>*@
            @*<div class="bs-docs-section">
                <h1 id="shell-cmd-base">Shell命令</h1>
                @Html.Partial("~/Views/shell/shell-cmd-base.cshtml")                
            </div>*@
            
            <div class="bs-docs-section">
                <h1 id="shell-cmd-docs">档案与目录</h1>
                @Html.Partial("~/Views/shell/docs/docs.cshtml")
            </div>
            @*<div class="bs-docs-section">
                <h1 id="shell-cmd-files">Shell命令-文件管理</h1>
                <h2></h2>
            </div>*@
            @*<div class="bs-docs-section">
                <h1 id="etao">Etao备忘</h1>
@Html.Partial("~/Views/etao/etao.cshtml")
            </div>
            <div class="bs-docs-section">
                <h1 id="mavenstart" class="page-header">Maven入门</h1>
                @Html.Partial("~/Views/java/mavenstart/mavenstart.cshtml")
            </div>
            <div class="bs-docs-section">
                <h1 id="mavenskills">mavenskills</h1>
                @Html.Partial("~/Views/java/maven/mavenskills.cshtml")
            </div>*@
        </div>
        <div class="col-md-3" role="complementary">
            <nav class="bs-docs-sidebar hidden-print hidden-xs hidden-sm affix-top">
                <ul class="nav bs-docs-sidenav">
                    <li><a href="#shell">Shell</a>
                        <ul class="nav">
                            <li><a href="#shell-wildcardchar">通配符</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#users">用户管理与文档权限</a>
                        <ul class="nav">
                            <li><a href="#user-manager">用户管理</a></li>
                            <li><a href="#docs-permission">文档权限</a></li>
                        </ul>
                    </li>
                    <li><a href="#shell-cmd-base">Shell-Cmd</a>
                        <ul class="nav">
                            <li><a href="#shell-cmd-pwd">pwd</a></li>
                            <li><a href="#shell-cmd-cd">cd</a></li>
                            <li><a href="#shell-cmd-ls">ls</a></li>
                            <li><a href="#shell-cmd-dir">dir&vdir</a></li>
                            <li><a href="#shell-cmd-cat">cat&more</a></li>
                            <li><a href="#shell-cmd-head">head&tail</a></li>
                            <li><a href="#shell-cmd-less">less</a></li>
                            <li><a href="#shell-cmd-grep">grep</a></li>
                            <li><a href="#shell-cmd-find">find</a></li>
                            <li><a href="#shell-cmd-locate">locate</a></li>
                            <li><a href="#shell-cmd-whereis">whereis</a></li>
                            <li><a href="#shell-cmd-who">who&whoami&uname</a></li>
                            <li><a href="#shell-cmd-man">man&whatis&apropos</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#shell-cmd-docs">Shell-Cmd-Docs</a>
                        <ul class="nav">
                            <li><a href="#shell-cmd-cat">cat</a></li>
                        </ul>
                    </li>
                   @* <li>
                        <a href="#etao">etao备忘</a>
                        <ul class="nav">
                            <li><a href="#etao-vpn">VPN</a></li>
                            <li><a href="#etao-accounts">账号</a></li>
                            <li><a href="#etao-git">git</a></li>
                        </ul>
                    </li>*@
                    @*<li>
                        <a href="#mavenstart">Maven入门</a>
                        <ul class="nav">
                            <li><a href="#mavenstart-basic">基本概念</a></li>
                            <li><a href="#mavenstart-download">Download</a></li>
                            <li><a href="#mavenstart-install">安装</a></li>
                            <li><a href="#mavenstart-setting">环境变量</a></li>
                            <li><a href="#mavenstart-project">项目目录约定</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#mavenskills">Maven小技巧</a>
                        <ul class="nav">
                            <li><a href="#mavenskills-repos">修改默认repository</a></li>
                            <li><a href="#mavenskills-sdk">Maven配置JDK默认Version</a></li>
                        </ul>
                    </li>*@
                </ul>
                <a class="back-to-top" href="#top">
                    返回顶部
                </a>
                <a href="javascript:;" class="bs-docs-theme-toggle" role="button">
                    主题预览
                </a>
            </nav>
        </div>
    </div>
</div>
